<html>
  <head>
    <meta charset="utf-8">
    <title>Книги список</title>
  </head>
<body>
   <h1 id="books_title">Books edited</h1>
   <a href="{{url_for('newBook')}}">
       <button>Добавить книгу</button>
   </a>
   <ol>
       {% for book in books %}
       <li id="book_line_id"> {{book.title}} — {{book.author}} </li>
       <a href="{{url_for('editBook', book_id = book.id )}}">
           Изменить
       </a>
       <a href="{{url_for('deleteBook', book_id = book.id )}}" style="margin-left: 10px;">
           Удалить
       </a>
       <br> <br>
       {% endfor %}
   </ol>
</body>
</html>